.conditions {
  background-image: url('../img/conditions_bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
  @media(max-width: $smDesktopWidth) {
    background-size: 100% 77%;
  } 
  
  .container {
    @include flex(row, center,flex-start);
    padding: 50px 100px 0 100px;
    flex-wrap: wrap;
    @media(max-width: $tableWidth) {
      padding: 50px 30px 0 30px;
    }
    @media(max-width: $phoneWidth) {
      @include flex(column, center,center);
      padding: 50px 0 0 0;
    }
  }
  &__title {
    width: 100%;
    margin: 20px 0;
    text-align: left;
    margin-left: 10%;
    color: $mainFontColor;
    text-transform: uppercase;
    font-size: rem(35);
    font-weight: 800;
    letter-spacing: 0;

    @media(max-width: $phoneWidth) {
      text-align: center;
      margin-left: 0;
      margin: auto
    }
  }
  &__descr {
    width: 100%;
    font-family: Muller;
    font-size: rem(14);
    font-weight: 100;
    letter-spacing: 1.5px;
    line-height: rem(22);
    @media(max-width: $tableWidth  ) {
      letter-spacing: 0;
    }
    @media(max-width: $phoneWidth) {
      font-size: rem(16);
    }
  }

  
  &__info {
    width: 50%;
    font-family: Muller;
    @media(max-width: $tableWidth) {
      width: 58%;
    }
    @media(max-width: $phoneWidth) {
      width: 90% !important;
      margin: auto;
    }
  }
  &__text {
    margin-top: 20px;
    font-size: rem(12);
    @media(max-width: $phoneWidth) {
      font-size: rem(18);
    }
  }
  &__ul1,
  &__ul2 {
    margin-top: 20px;
    font-size: rem(12);
    text-decoration: none;
    @media(max-width: $tableWidth) {
      font-size: rem(16);
    }
    @media(max-width: $phoneWidth) {
      font-size: rem(18);
    }
  }
  &__ul2 {
    margin-left: 50px;
    @media(max-width: $tableWidth  ) {
      margin-left: 20px;
    }
  }
  &__li{
    position: relative;
    &--circle {
      padding-left: 22px;
      &:before {
        content: '';
        position: absolute;
        left: 0;
        top: calc(50% - 7px);
        height: 14px;
        width: 14px;
        border-radius: 100px;
        background-color: rgb(248, 185, 50);

        @media(max-width: $phoneWidth) {
          height: 12px;
          width: 12px;
        }
      }
    }
    @media(max-width: $phoneWidth) {
      margin-top: 5px;
    }
  }
  

  &__slogan{
    width: 50%;
    @media(max-width: $tableWidth  ) {
      width: 42%;
    }
    @media(max-width: $phoneWidth) {
      width: 90% !important;
      margin: auto;
    }
    &-text{
      font-family: Maloishe;
      width: min-content;
      margin-top: 70px;
      font-size: rem(55);
      text-align: center;
      font-weight: 400;
      letter-spacing: 3px;
      line-height: rem(55);
      transform: rotate(-22deg);
      @media(max-width: $tableWidth  ) {
        width: auto;
      }
      @media(max-width: $phoneWidth) { 
        width: 100%;
        transform: rotate(0deg);
        text-align: center;
        margin-top: 60px;
        font-size: rem(65);
      }
    }
  }


  &__contacts{
    margin-left: 0;
    width: 100%;
    position: relative;
    top: -250px;
    height: 0;
    @media(max-width: $smDesktopWidth) {
      top: -16vh;
    }
    @media(max-width: $tableWidth  ) {
      top: -10vh;
    }
    @media(max-width: $phoneWidth) { 
      top: 0 !important;
      height: auto;
      width: 90%;
      margin: auto;
      text-align: center;
    }
  }
  &__btn{
    color: $mainFontColor;
  }
  &__socials {
    margin-top: 40px;
    @include flex(column-reverse, flex-start,flex-start);
    color: $mainFontColorDark;
    @media(max-width: $tableWidth  ) {
      margin-top: 10px;
    }
    @media(max-width: $phoneWidth) { 
      @include flex(column-reverse,center,center);
      margin-top: 60px;

    }
  }
}