.foryou {
  padding: 0;
  background: #0c485e;
  margin-bottom: 150px;
  .container {
    @include flex(column, flex-start, center);
  }
  &__button {
    position: absolute;
    right: 1%;
    bottom: -237px;


    @include flex(row, center, center);
  }
}