.header {
  background-image: url('../img/header_bg.png');
  background-repeat: no-repeat;
  background-position: top center;
  background-size: contain;
}
.block-header {
  .container {
    @include flex(row,center,flex-start);
  };
  padding: 0;
  &__left{
    @include flex(column,flex-start,center);
    width: 50%;

  }
  &__right{
    @include flex(column,flex-start,center);
    width: 50%;

  }

  &__title {
    text-transform: uppercase;
    font-size: rem(90);
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(95);
  }
  &__subtitle { 
    margin-top: 20px;

    font-size: rem(50);
    text-align: center;
    font-weight: 600;
    letter-spacing: 10px;
    line-height: rem(55);
  }

  &__btn{
    margin-top: 25px;
  }

  &__socials{
    align-self: start;
    margin-top: 25px;
  }
  &__descr{
    justify-self: end;
    margin-top: 80px;

    text-align: right;
    color: $mainFontColorDark;
    &-title {
      font-size: rem(40);

    }
  }
}