.header {
  
  background-image: url('../img/header_bg.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: cover;
  margin-bottom: 50px;
}
.block-header {
  position: relative;
  .container {
    @include flex(row,center,flex-start);
  };
  padding: 0;
  &__left{
    @include flex(column,flex-start,center);
    width: 50%;

  }
  &__right{
    @include flex(column,flex-start,center);
    width: 50%;

  }

  &__title {
    text-transform: uppercase;
    font-size: rem(100);
    text-align: center;
    font-weight: 600;
    letter-spacing: 0;
    line-height: rem(105);
  }
  &__subtitle { 
    margin-top: 20px;

    font-family: Maloishe;
    font-size: rem(70);
    text-align: center;
    font-weight: 500;
    letter-spacing: 3px;
    line-height: rem(65);
  }

  &__btn{
    margin-top: 25px;
  }

  &__socials{
    align-self: start;
    margin-top: 25px;
  }
  &__descr{
    position: absolute;
    bottom: -50px;
    right: 0;
    justify-self: end;
    font-family: Muller;
    text-align: right;
    color: $mainFontColorDark;
    &-title {
      font-size: rem(35);
      text-transform: uppercase;
    }
    &-text {
      font-size: rem(20);
      letter-spacing: 1px;
    }
  }
}