.menu {
  @include flex(row,space-between, center);
  &__ul{
    @include flex(row,space-between, center);
    text-transform: uppercase;
    font-weight: 500;
    font-size: rem(30);
    padding: 40px 0px;
  }
  &__li:hover{
    color: darken($mainFontColor, 20%);
    transition: all 0.2s;
  }
}