.btn {
  display: inline-block;
  padding: .8em 2em;
  line-height: 1;
  text-transform: uppercase;
  cursor: pointer;
  border-radius: 6px;
  letter-spacing: 0px;
  padding: 20px;
  transition: all 0.1s;

  &:hover {
    box-shadow: 0 0 15px -5px #000;
  }
  // default btn
  &--warning {
    color: #000000;
    background-color: #faaf0c;
    &:hover {
      background-color: darken(#faaf0c, 10%);
    }
    &:active {
      background-color: lighten(#faaf0c, 10%);
    }
  }
  // danger btn
  &--danger {
    color: #ffffff;
    background-color: #ca0d0d;
    &:hover {
      background-color: darken(#ca0d0d, 10%);
    }
    &:active {
      background-color: lighten(#ca0d0d, 10%);
    }
  }


  // default btn
  &.btnDefaul {
    color: #ffffff;
    border: 1px solid #333333;
    background-color: #333333;
  }

  // primiry btn
  &.btnPrimary {
    color: #ffffff;
    border: 1px solid #494ce8;
    background-color: #494ce8;
  }

  // primiry btn
  &.btnSuccess {
    color: #ffffff;
    border: 1px solid #3a8d14;
    background-color: #3a8d14;
  }

  

  &.btnWhite {
    color: #333333;
    border: 1px solid #ffffff;
    background-color: #ffffff;
  }
}